*.so
*.bin
*.lock
*.wiki
*.pyc
*.aux
*.bbl
*.log
*.pdf
*.gz
*.blg
.*.swp
_ignore
.DS_Store
*.out
*.toc
*.snm
*.nav
*.txt
*.sublime-workspace
*.sublime-project
bin
_trial_temp
tiemp
tmp
libraries/sparsehash/
.vscode
build/
*.o
data
*.a
*.rdb
*.coverage
.coveragerc
*,cover
*.egg-info
.idea/workspace.xml
cython/cmake-build-debug
cython/cmake_install.cmake
cython/Makefile
cython/CMakeFiles
!cython/CMakeLists.txt
/cython/ot/cOTInterface.cpp
/cython/psi/cPSIInterface.cpp
/cython/.clion.source.upload.marker
/cython/masterarbeit.cbp
/cython/cmake-build-local/
/cython/cmake-build-passion/
cython/cmake-build-butthead/
*.tmp
/eval/
/results_eval/plots/
*.dat
cython/cmake-build-dockerFull/
!data/ikv_data.txt
!data/wzl_data_unconverted.csv
!data/wzl_data.txt
!data/ikv_data_unconverted.json
results_eval/.idea/
