<!doctype html>
<title>{% block title %}{% endblock %} - Key Server</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<nav>
  <h1>Key Server</h1>
  <ul>
      <li style="border-right: 1px solid #bbb;"><a href="/">Main</a></li>
      <li><span>Client:</span></li>
      <li><a href="/client/gen_token">Token</a></li>
      <li><a href="/client/hash_key">Hash Key</a></li>
      <li><a href="/client/key_retrieval?totalOTs=10">Key Retrieval</a></li>
      <li style="border-right: 1px solid #bbb;"><a href="/client/status">Status</a></li>
      <li><span>Provider:</span></li>
      <li><a href="/provider/gen_token">Token</a></li>
      <li><a href="/provider/hash_key">Hash Key</a></li>
      <li><a href="/provider/key_retrieval?totalOTs=10">Key Retrieval</a></li>
      <li><a href="/provider/status">Status</a></li>
  </ul>
</nav>
<hr />
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>